html,body{
	width: 100%;
	height: 100%;
	position: relative;
	background: #F9F9F9;
}
body{
	
	
}
header{
	height: 0.845rem;
	width: 100%;
	font-size: 0.34rem;
	position: absolute;
	background:#FFF;
	border-bottom:1px solid #EEEEEE;
}
header span{
	display: inline-block;
	width: 0.28rem;
	height: 0.48rem;
	background:url(../img/left.png);
	background-size: contain;
	margin-left: 0.2rem;
	position: absolute;
	top: 50%;
	margin-top: -0.24rem;

}
header h1{
	font-size: 0.34rem;
	text-align: center;
	line-height: 0.845rem;
	color: #333;
}
section{
	width: 100%;
	position: absolute;
	top: 0.845rem;
	bottom: 0;
	background:#FFF;
	padding:0 0.3rem;
	display: flex;
	display:-webkit-flex;
	align-items:center;
	justify-content:center;
	align-content:center;
	-webkit-align-items:center;
	-webkit-justify-content:center;
	-webkit-align-content:center;
	margin: 0 auto;
}
.deta_box{
	width: 100%;
}
.deta_box span{
	width: 1.07rem;
	height: 1.07rem;
	display: inline-block;
	width: 100%;
}
.success_info{
	background: url(../img/sign_success.png) no-repeat center;
	background-size: contain;
}
.error_info{
	background: url(../img/sign_error.png) no-repeat center;
	background-size: contain;
}
.deta_box p{
	font-size: 0.307rem;
	color: #333;
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 0.43rem;
	margin: 0 auto;
}
.error_box p{
	color: #999999;
	width: 3.08rem;
	line-height: 0.4rem;
	margin: 0 auto;
}
.btn{
	width:1.75rem;
	height: 0.75rem;
	background: #009744;
	border:none;
	color:#FFF;
	margin: 0 auto;
	margin: 10px auto;
	display: block;
	outline:none;
	border-radius:2px;
	font-size:0.2rem;
}
.btn:active{
	box-shadow: inset 0 8px 8px rgba(0,0,0,.125);
}